<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Tilt+Prism&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" >

        <button>Buscar productos, marcas</button>
        
            <button> 
                <div class="boton">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            </button>
        

            <p class="anuncio"> Compra en cuotas y sin tarjetas de credito</p>
            <p class="anuncio"><i class="fa-solid fa-hand-holding-dollar"></i></p>
           
    
            
            <p class="ofertas">Ofertas</p>
            <p class="tienda">Tiendas Oficiales</p>
            <p class="vender">Vender</p>
            <p class="ayuda">Ayuda</p>
    
            
            
                    <p class="cuenta">Crea tu Cuenta<i class="fa-regular fa-id-card"></i></p>

                    <p class="ingresa">Ingresa<i class="fa-solid fa-right-to-bracket"></i></p>
                 
                  
                    <p class="compras">Mis Compras<i class="fa-solid fa-basket-shopping"></i></p>
            
                  
       
           
        
        


        <p class="burger-menu">
            <i class="fa-solid fa-bars menu-icon" style="color: #edf1f8;"></i>
        </p>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" width="100%">
        </div>
        </header>
        
        <main>
            <h3 class="titulares">Basado en tu ultima visita</h3>
            
        <div class="articulos">


    <img src="/images/img-cafetera-moulinex.jpg" width="90%">
        <div class="Cafetera">
            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$6.770</p>
        <p class="descuentos">40% OFF</p>
        <p class="descripciones">Cafetera Moulinex</p>
        </div>

        <img src="/images/img-macbook-pro-2019.jpg" width="90%">
        <div class="Mac">
        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$230.000</p>
        <p class="descuentos">20% OFF</p>
        <p class="descripciones">MacBook Pro 2019</p>
        </div>


        <img src="/images/img-samsung-galaxy-s10.jpg" width="90%">
        <div class="Samsung">
        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$70.500</p>
        <p class="descuentos">10% OFF</p>
        <p class="descripciones">Samsung Galaxy s10</p>
        </div>


        <img src="/images/img-tv-samsung-smart.jpg" width="90%">
        <div class="Tv">
        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$23.200</p>
        <p class="descuentos">5% OFF</p>
        <p class="descripciones">SmartTv Samsung 43"</p>
        </div>

        <h3 class="titulares">Seccion de Ofertas</h3>

        <img src="/images/img-cafetera-moulinex.jpg" width="90%">
        <div class="Cafetera">
        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$6.770</p>
        <p class="descuentos">40% OFF</p>
        <p class="descripciones">Cafetera Moulinex</p>
        </div>


        <img src="/images/img-macbook-pro-2019.jpg" width="90%">
        <div class="Mac">
        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$230.000</p>
        <p class="descuentos">20% OFF</p>
        <p class="descripciones">MacBook Pro 2019</p>
        </div>


        <img src="/images/img-samsung-galaxy-s10.jpg" width="90%">
        <div class="Samsung">
        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$70.500</p>
        <p class="descuentos">10% OFF</p>
        <p class="descripciones">Samsung Galaxy s10</p>
        </div>


        <img src="/images/img-tv-samsung-smart.jpg" width="90%">
        <div class="Tv">        
        <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
        <p class="precios">$23.200</p>
        <p class="descuentos">5% OFF</p>
        <p class="descripciones">SmartTv Samsung 43"</p>
        </div>
    </div>
    </main>

    <footer>
        <i class="fa-solid fa-credit-card" style="color: #1161b6"></i>
        <h4 class="titulares">Paga Con tarjeta o en efectivo</h4>
        <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

            <i class="fa-solid fa-gift" style="color:#1161b6; "></i>
            <h4 class="titulares"> Envio gratis desde $2.500</h4>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

                <i class="fa-solid fa-user-shield" style="color: #1161b6;"></i>
                <h4 class="titulares"> Seguridad de principio a fin</h4>
                <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

                </footer>
                    <h5 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
</body>
</html>
