* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin:0px;
    background-color: #ebebeb;
  
  
}


.main-header {
    background-color: #EAC926;
    padding: 20px;
   
}



.logo {
    width:40%;
}

.banner {
    width: 100%;
    
}

.copy-header {
    font-weight: 400;
    text-align: center;
}


main {
    text-align:center;
    width:90%;
    margin:10px;
    
    
}

footer {
    text-align: center;
    font-size: 2em;
}



.cuerpo {
    font-size: 12px;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 28px;
    color: #39b54a;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
    display:none;
}

.burger-menu {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;    
}
  
.main-navbar {
    display:none;
    
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}



.boton {
    font-size: 10px;
    
}

.button {
    text-align: left;
}

.anuncio {
    text-align: center;

}


.Cafetera,
.Samsung,
.Tv,
.Mac {
    border-top: solid 1px #ebebeb;
    padding:15px;
    
}

@media (min-width:360px) {
    .articulos{
        background-color: white;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripciones {
        display:block;
    }
.burger-menu {
    display: none;
}
.main-navbar {
    display:flex;
}

}




@media (min-width: 361px) {

    .articulos{
    background-color:white;
}
.burger-menu {
    display:none;
}
.main-navbar {
    display:flex;
    justify-content: space-between;
 
}
.main-navbar ul {
   display:flex;
 

}

}

.banner {
display:block;
    justify-content: end;
  

}





